@font-face {
    font-family: 'Akira';
    src:url('./fonts/akira_expanded_demo-webfont.woff2') format('woff2'),
        url('./fonts/akira_expanded_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'thinkbold';
    src: url('./fonts/think-bold-webfont.woff2') format('woff2'),
         url('./fonts/think-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

::selection {
    background: #404ca6;
}

h1 {
        font-size: 4rem;
        font-family: 'Akira';
      }
      p {
        font-size: 1.5rem;
        color: wheat;
      }
      h2 {
        color: wheat;
        font-weight: bold;
      }
      body {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        color: white;
        background: #202731;
        overflow-x: hidden;
      }

      ul li, a {
       list-style: none;
        text-decoration: none;
        color: white;
      }
    nav {
      opacity: 0;
      transform: translateY(-20px);
      animation: nav-anim 1.2s ease-out 1s forwards;
    }

    @keyframes nav-anim {
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

      .navbar {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 80px;
        line-height: 80px;
        padding-top: 40px;
        
      }

      .navItems{
        display: flex;
        align-items: center;
        padding-left: 20px;
        }     

        .navItems li{
            list-style: none;
            font-size: 35px;
            margin: 0 30px
        }


    .links-bottom a{
     
      font-size: 50px;
      margin: 25px 30px;
      color: white;
    }

    .links-bottom {
      padding-top: 80px;
    }

    .video p {
      font-size: 20px;
    }

      section {
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        min-height: 400px;
        padding-top: 100px;
      }
      .btns {
        transition-delay: 500ms;
        position: relative;
      }
      .coolbutton {
        display: block;
        color:sandybrown;
        background-color: transparent;
        border: 1px solid sandybrown;
        border-radius: 4px;
        padding: 1.25rem 1.75rem;
        font-size: 20px;
        line-height: 1;
        text-decoration: none;
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
        position: relative; 
        font-family: 'thinkbold'; 
    }
    .coolbutton:hover {  
        outline: none;
        box-shadow: -4px 4px 0 0 sandybrown;
        transform: translate(-5px, -5px);
    }

    .projets { 
      margin-bottom: 100px;
    }

    .projets ul {
      display: flex;
      justify-content: space-around;
    }

    .projets ul li {
      padding-right: 30px;
    }
    .projets ul iframe {
      width: 100%;
    }
    .projets ul  li p{
      text-align: center;
    }

    .projets img {
      width: 60px;
    }

    .mail {
      font-family: 'Akira';
    }

      .blue {
        background: #3c31dd;
      }

      .red {
        background: #dd3f31;
      }

      .pink {
        background: #ff0066;
        overflow: hidden;
        text-align: center;
      }
      .pink p {
        padding: 0 50px;
        font-size: 20px;
      }

      .dark {
        background: #0f0f10;
      }

      /* Curved bg with plain CSS */

      .curve {
        position: absolute;
        height: 250px;
        width: 100%;
        bottom: 0;
        text-align: center;
      }

      .curve::before {
        content: '';
        display: block;
        position: absolute;
        border-radius: 100% 50%;
        width: 55%;
        height: 100%;
        transform: translate(85%, 60%);
        background-color: hsl(216, 21%, 16%);
      }

      .curve::after {
        content: '';
        display: block;
        position: absolute;
        border-radius: 100% 50%;
        width: 55%;
        height: 100%;
        background-color: #3c31dd;
        transform: translate(-4%, 40%);
        z-index: -1;
      }

      /* Bubble bg with plain CSS */

      .bubble::after {
        content: '';
        border-top-left-radius: 50% 100%;
        border-top-right-radius: 50% 100%;
        position: absolute;
        bottom: 0;
        z-index: -1;
        width: 100%;
        background-color: #0f0f10;
        height: 85%;
      }

      /* Curved bg with SVG via https://www.shapedivider.app/ */

      .wave {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
      }

      .wave svg {
        position: relative;
        display: block;
        width: calc(103% + 1.3px);
        height: 262px;
      }

      .wave .shape-fill {
        fill: hsl(240, 3%, 6%);
      }

      /* SVG background image via https://haikei.app/ */

      .spacer {
        aspect-ratio: 960/300;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      .layer1 {
        background-image: url('./layer1.svg');
      }
      .layer2 {
        background-image: url('./layer2.svg');
      }

      .flip {
        transform: rotate(180deg);
      }

      /* Blobs SVG background image via https://haikei.app/ */

      .blob-motion {
        position: absolute;
        transform: translateY(-20%);
        z-index: 0;
      }

      .blob-content {
        z-index: 1;
      }

      .blobs {
        width: 100%;
        background: url('./blobs.svg') cover;
       
      }


      /* Format responsive */
@media screen and (max-width: 1050px) {
   body {
      overflow: hidden auto;
   }

   .navItems {
    padding-left: 0;
   }

   .navItems li {
        font-size: 25px;
  }  


   h1 {
    font-size: 2.5rem;
   }

    .projets ul iframe {
      width: 100%;
    }
  }

  @media screen and (min-width: 446px) and (max-width: 614px) {
    .navItems {
    padding-left: 0;
   }
   .navItems li {
        font-size: 18px;
  }
    .section2 h1 {
      font-size: 1.8rem;
    }
    .section2 .coolbutton {
      font-size: 18px;
    }
    .section3 h1 {
      font-size: 3rem;
    }
    .section3 h2 {
      font-size: 1.5rem;
    }
    .section3 p{
      font-size: 18px;
    }
    .section5 h1 {
      font-size: 3rem;
    }
    .projets ul{
      display: flex;
      flex-direction: column;
     }
     .projets ul li{
      padding-top: 50px;
     }
    .links-bottom a{
      font-size: 26px;
    }
  }

  @media screen and  (max-width: 445px) {
 
    .navItems {
    padding-left: 0;
   }

   .navItems li {
        font-size: 13px;
  }

   .section2 {
     padding-top: 40px;
    }

    .section2 h1 {
      font-size: 1.4rem;
    }
    .section2 .coolbutton {
      font-size: 13px;
    }

    .section3 h1 {
      font-size: 2.2em;
    }
    .section3 h2 {
      font-size: 1rem;
    }
    .section3 p{
      font-size: 16px;
    }

     .section5 h1 {
      font-size: 2.2rem;
     }
    
     .projets ul{
      display: flex;
      flex-direction: column;
     }
     .projets ul li{
      padding-top: 50px;
     }
    .links-bottom {
      display: flex;
      justify-content: space-evenly;
    }
    .links-bottom a{
      padding-top: 20px;
      font-size: 20px;
      font-weight: bold;
    }
    .mail {
      font-size: 14px;
    }
  }